.OperateItem__delete {
  border-radius: 10px;
  padding: 0.66rem;
  cursor: pointer;
  color: white;
  background-color: red;
  box-shadow: 0px 2px 5px red;
}

.OperateItem__done {
  background-color: green;
  color: white;
  border-radius: 10px;
  padding: 0.66rem;
  cursor: pointer;
  box-shadow: 0px 2px 5px green;
}

.OperateItem__done:hover,
.OperateItem__delete:hover {
  background-color: blueviolet;
  color: white;
  box-shadow: 0px 2px 5px blueviolet;
}
