@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");

:root {
  --font-small: 1.2rem;
  --font-medium: 1.5rem;
  --font-large: 2.2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Cookie", cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
